# Core LLM + RAG
langchain>=0.2.0
langchain-community>=0.2.0

# Vector database
faiss-cpu

# OpenAI API
openai>=1.0.0

# YAML
pyyaml

# frontend
streamlit

# Optional
tiktoken        # tokenizer for OpenAI
python-dotenv   # load API keys from .env
